<section id="contact" class="mb-3 bg-light">
    <h2 class="text-center">Contact</h2>
    <br>
    <div class="row">
        <div class="col-sm-7 text-center">
            <img class=""  src="{{ asset('build/images/aerofleet-logo-transparent-mini.png') }}" alt="Logo de la société Aerofleet" />
        </div>
        <div class="col-sm-5">
            <br>
            <p><span class="glyphicon glyphicon-phone"></span><strong> Tel:</strong> 32 (0) 4 377 50 50</p>
            <p><span class="glyphicon glyphicon-print"></span><strong>  Fax:</strong> 32 (0) 4 377 18 49</p>
            <p><span class="glyphicon glyphicon-envelope"></span><strong>  Email:</strong> info@aerofleet.be </p>
        </div>
    </div>
    <br>
    <div class="map" id="googleMap">
        <iframe src="https://www.google.com/maps/embed/v1/search?q=Aerofleet+sa,+Chaussée+de+Wégimont,+Soumagne,+Belgique&key= AIzaSyB2mIV2vbyOrWNrIBq95enu_PIUyimfn1M " allowfullscreen="" width="100%" height="320" frameborder="0"></iframe>
    </div>
    <br>
</section>
