<hr>
<section id="contact">
    <h2 class="text-center">contact</h2>
    <div class="row">
        <div class="col-lg-6">6 COLONNES xxxxxxxxxx
            <div class="row">
                <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
                <div class="col-lg-offset-4">x</div>
                <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
            </div>
        </div>
        <div class="col-lg-6">6 COLONNES xxxxxxxxxx
            <div class="row">
                <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
                <div class="col-lg-8">4 COLONNES xxxxxxxxxx</div>
            </div>
        </div>
    </div>

    <div>
        <div class="border border-warning">
            <p class="text-primary">text-primary</p>
        </div>
        <div class="border border-secondary">
            <p class="text-secondary">text-secondary</p>
        </div>
        <div class="border border-info">
            <p class="text-info">text-info</p>
        </div>
        <div class="border border-light">
            <p class="text-warning">text-warning</p>
        </div>
        <div class="border border-primary">
            <p class="text-light">text-light</p>
        </div>
        <div class="bg-primary">
            <p class="text-primary">text-primary</p>
        </div>

    </div>
</section>
