<hr>
<div class="" id="contact">
    <section>
        <h2 class="text-center">contact</h2>
            <div class="row">
                <div class="col-lg-6">6 COLONNES xxxxxxxxxx
                    <div class="row">
                        <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
                        <div class="col-lg-offset-4">x</div>
                        <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
                    </div>
                </div>
                <div class="col-lg-6">6 COLONNES xxxxxxxxxx
                    <div class="row">
                        <div class="col-lg-4">4 COLONNES xxxxxxxxxx</div>
                        <div class="col-lg-8">4 COLONNES xxxxxxxxxx</div>
                    </div>
                </div>
            </div>
    </section>
</div>
<hr>