    <footer class="text-center">
        <div id="mentions" class="collapse">
            <hr>
            <p>Nom : Aerofleet</p>
            <p>Forme juridique : SPRL</p>
            <p>Adresse postale du siège social : CHAUSSEE DE WEGIMONT 25 à 4630 SOUMAGNE</p>
            <p>Téléphone : 32 (0) 4 377 50 50</p>
            <p>Mail : info@aerofleet.be</p>
            <p>Numéro TVA : BE 0659 828 741</p>
            <p>Numéro d'enregistrement : 09/05/1/1</p>
            <!-- Autorité de surveillance compétente (si nécessaire pour votre activité)
            Profession réglementée (titre professionnel et lien vers les règles professionnelles)
            Code de conduite (si nécessaire pour votre activité et lien pour consultation du code) -->
            <hr>
        </div>

        <div id="rgpd" class="collapse">
            <hr>
            <h3>Gestion des cookies</h3>
            <h4>1. Points généraux</h4>
            <p>La présente politique donne des informations concernant l’utilisation des cookies sur le(s) site(s) web d'Aerofleet SA. En visitant et en utilisant ce(s) site(s) web, vous marquez expressément votre accord avec la gestion des cookies décrite ci-après. La plupart des navigateurs web sont configurés de manière à accepter automatiquement les cookies. Si vous souhaitez personnaliser leur gestion, vous devez modifier les paramètres de votre navigateur. Vous trouverez d’autres informations à ce sujet au point "4. Gestion des cookies". La présente politique de gestion des cookies s’applique aux sites web aerofleet.be. Celui-ci est géré par Aerofleet SPRL ayant son siège social à CHAUSSEE DE WEGIMONT 25 à 4630 SOUMAGNE.</p>
            <h4>2. Définition des cookies</h4>
            <p>Les cookies sont de petits fichiers d’information que le serveur d’un site web enregistre de manière temporaire ou permanente sur le disque dur de votre ordinateur ou appareil par l’intermédiaire de votre navigateur. Ils peuvent également être installés par des tiers avec lesquels Aerofleet collabore. Les cookies remplissent diverses fonctions : faire en sorte que le site tienne compte des préférences du visiteur, collecter des données statistiques, adapter le contenu et/ou la publicité des sites en fonction de l’utilisateur, etc ...</p>
            <h4>3. Utilisation de cookies sur le site web</h4>
            <p>3.1 Les cookies indispensables: fichiers indispensables à une bonne communication et destinés à faciliter la navigation. </p>
            <p>3.2 Les cookies fonctionnels: fichiers destinés à faciliter la visite sur un site et à améliorer la convivialité (exemple : choix de la langue). </p>
            <p>3.3 Les cookies de performance: fichiers destinés à collecter des informations en vue d’évaluer et d’améliorer le contenu du site web (exemple : comptabiliser le nombre de visiteurs, identifier les pages ou les clics les plus populaires), et de mieux faire correspondre les propositions commerciales à vos préférences personnelles. </p>
            <p>3.4 Les cookies utilisés par Aerofleet ne contiennent jamais de donnée personnelle. Presque tous les cookies installés sur ce site web sont des cookies d'Aerofleet, enregistrés sous le domaine aerofleet.be. Le délai de conservation des cookies varie en fonction de leur type : les cookies indispensables sont généralement conservés jusqu’à la fermeture du navigateur. Outre nos propres cookies, la carte de Google et lorsque vous cliquez sur les liens vers les réseaux sociaux (Youtube, Twitter), des données sont collectées par ces entreprises, nous ne sommes pas responsable de la collecte de ces données et de leurs usages</p>
            <h4>4. Gestion des cookies</h4>
            <p>La plupart des navigateurs sont configurés de manière à accepter automatiquement les cookies, mais tous permettent de personnaliser les paramètres en fonction de vos préférences. Aerofleet utilise des cookies pour faciliter votre accès au site, vous évitant ainsi de devoir choisir votre langue et fermer le lien vers la politique de gestion des cookies lors de chacune de vos visites. Si vous souhaitez bénéficier de ce confort d’utilisation, veuillez accepter les cookies du domaine Aerofleet, même si en général vous bloqueriez l’utilisation des cookies. </p>
            <h4>5. Modifications</h4>
            <p>Aerofleet SPRL se réserve le droit de modifier ou d’actualiser la présente politique de gestion des cookies. Vous devez donc tenir compte de la version la plus récente mentionnée sur le site web, accessible en suivant le lien "RGPD et gestion des cookies" au bas de chaque page.</p>
            <hr>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#mentions">
            Mentions Légales
        </button>

        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#rgpd">
            RGPD et Gestion des cookies
        </button>
        <p>Copyright &copy; 2020 Aerofleet - Tous droits réservés</p>
        <p>Web design by GregRamos</p>
    </footer>