<hr>
<section class="container" id="magasin">
    <h2 class="text-center">magasin</h2>
    <h3 class="text-center"><div id="magasin01"></div></h3><br>
    <div class="row text-center">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="img/shop/bome_aerofleet.jpeg" alt="Paris" />
                        <p><strong>Aero-Bôme</strong>
                        <div id="magasin02"></div>
                        <a href="fr-shop.php"><button class="btn">Information</button></a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="img/shop/aero_tens_aerofleet_blanc.jpeg" alt="Aéro Tens" />
                        <p><strong>Aéro-Tens</strong></p>
                        <p id="magasin04"></p>
                        <a href="fr-shop.php"><button class="btn">Information</button></a>
                    </div>
                </div>
            </div>
</section>
<hr>