<hr>
<div class="" id="medias">
    <section>
        <h2 class="text-center">medias</h2>
        <div class="col-sm-3">
            <a href="https://www.youtube.com/channel/UCXbiqFoahoznzyYOyfNEwFQ">
                <img src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube40x40.png" alt="youtube">
            </a>
        </div>
        <div class="col-sm-3">
            <a href="https://twitter.com/aerofleetsa">
                <img src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter40x40.png" alt="twitter">
            </a>
        </div>
    </section>
</div>
<hr>