<hr>
<section id="medias">
    <h2 class="text-center">medias</h2>

    <div class="row">
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center default-text py-3"><i class="fa fa-lock"></i>Book</h4>

                    <div class="text-center">
                        <a href="{{ asset('') }}" class="btn btn-default waves-effect waves-light">Télécharger la brochure ici</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center default-text py-3"><i class="fa fa-lock"></i>Book</h4>

                    <div class="text-center">
                        <a href="{{ asset('') }}" class="btn btn-default waves-effect waves-light">Télécharger la brochure ici</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center default-text py-3"><i class="fa fa-lock"></i>Book</h4>

                    <div class="text-center">
                        <a href="{{ asset('') }}" class="btn btn-default waves-effect waves-light">Télécharger la brochure ici</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-center default-text py-3"><i class="fa fa-lock"></i>Book</h4>

                    <div class="text-center">
                        <a href="{{ asset('') }}" class="btn btn-default waves-effect waves-light">Télécharger la brochure ici</a>
                    </div>
                </div>
            </div>
        </div>


    <div class="row text-center">
        <div class="col-2 border pt-3 pb-3 mr-1 ml-1">
            <h4>BOOK</h4>
            <img class="" src="https://img.icons8.com/ios/50/000000/book.png"/>
            <br>
            <a href="medias/book-aerofleet.pdf" id="medias02">Télécharger la brochure ici</a>
            <br><br>
        </div>
        <div class="col-2 border pt-3 pb-3 mr-1 ml-1">
            <h4>Presses</h4>
            <img src="https://img.icons8.com/ios/50/000000/news.png"/>
            <a href="presses.php" id="medias03">Quelques articles sur Aerofleet</a>
            <br><br>
        </div>
        <div class="col-2 border pt-3 pb-3 mr-1 ml-1">
            <a href="https://www.youtube.com/channel/UCXbiqFoahoznzyYOyfNEwFQ">
                <img src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube40x40.png" alt="youtube">
            </a>
            <br><br>
        </div>
        <div class="col-2 border pt-3 pb-3 mr-1 ml-1">
            <a href="https://twitter.com/aerofleetsa">
                <img src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter40x40.png" alt="twitter">
            </a>
            <br><br>
        </div>
    </div>
</section>
<hr>