<section id="militaire" class="text-center bg-light">
    <h2>Militaire</h2>
    <div class="Row">
        <div class="col">
            <p>{{"AEROFLEET, grâce à son savoir-faire et son expérience a également su se positionner dans le secteur militaire à travers les matériaux composites."|trans}}</p>
        </div>
        <div class="col">
            <img class="img-fluid bg-card"  src="{{ asset('build/images/galerie/rcws-fn-defender-02.jpg') }}" alt="Couvercle de protection Rcws de la marque FN" />
        </div>
    </div>
    <br>
</section>