<section id="militaire" class="text-center">
    <h2>Militaire</h2>
    <div class="Row">
        <div class="col">
            <p>{{"AEROFLEET, grâce à son savoir-faire et son expérience a également su se positionner dans le secteur militaire à travers les matériaux composites."|trans}}</p>
        </div>
        <div class="col">
            <img class="img-fluid images-thermo-militaire"  src="{{ asset('build/images/galerie/militaire_01.jpg') }}" alt="militaire aerofleet" />
        </div>
    </div>
    <br>
</section>