<section id="moulage" class="text-center bg-light">
    <h2>Moulage</h2>
    <p>{{"Moulage de pièces archéologiques (ossements, industries, sol), moulage anatomique et corporelle (immortalisation de grossesses, buste, mains, trophée) ainsi que divers moulages en matériaux composites (aéronautique)."|trans}}</p>

    <div class="row">
        <div class="col-md-4 col-xs-6">
            <img class="img-fluid border-my-theme"  src="{{ asset('build/images/galerie/moule_figure.jpeg') }}" alt="moulage aerofleet" />
        </div>
        <div class="col-md-4 col-xs-6">
            <img class="img-fluid border-my-theme"  src="{{ asset('build/images/galerie/moule_02.jpeg') }}" alt="moulage aerofleet" />
        </div>
        <div class="col-md-4 col-xs-6">
            <img class="img-fluid border-my-theme"  src="{{ asset('build/images/galerie/moule_01.jpeg') }}" alt="moulage aerofleet" />
        </div>
    </div>
    <br>
</section>
