<header class="bg-navbar text-center">
    <div class="pt-4 pb-2">
        <div class="">
            <h1 class="ml15">
                <span class="word">Aero</span>
                <span class="word">fleet</span>
            </h1>
        </div>

    </div>

    <hr>

    <nav>
        <a class="col-3" href="#activites">Activités</a>
        <a class="col-3" href="#magasin">Magasin</a>
        <a class="col-3"  href="#medias">Medias</a>
        <a class="col-3"  href="#galerie">Galerie</a>
        <a class="col-3"  href="#videos">Videos</a>
        <a class="col-3"  href="#brochure">Brochure</a>
        <a class="col-3"  href="#presses">Presses</a>
        <a class="col-3"  href="#contact">Contact</a>
    </nav>

    <hr>

    <section class="text">
        <h2 class="">A propos</h2>
        <p>Aerofleet est spécialisée dans les composites high tech. Elle réalise aujourd'hui toutes sortes de pièces de grandes qualités techniques et pré-imprégnées sous vide et sous autoclave. Les matériaux composites offrent en effet des qualités techniques et environnementales en utilisant les pré-imprégnés.</p>
        <p>L'entreprise a réalisé, entre autres, les coupoles pour le VLT pour l'ES° sur le site du Cerra Paranal (Chili), les tuyères et les « fairings » pour l'Airbus A380, les protections d'armes pour la FN, des catamarans de 45 pied s et de 50 pieds, l'Aero 660, des bateaux pour les mesures hydrographiques. etc...</p>
        <p>Dans le secteur naval. après avoir construit le premier catamaran F28 belge, Raphaël van Vlodorp n'a cessé de développer de nouveaux produits tout en utilisant les meilleurs matériaux pour assurer une qualité optimale.</p>
        <p>C'est ainsi qu'Aerofleet est devenu un chantier naval reconnu et peut proposer une large gamme allant du bateau à moteur au catamaran de 15 m.</p>
        <p>Aerofleet peut fournir les bateaux à tous les stades de finition, des pièces moulées aux bateaux prêts à naviguer pour constructeurs professionnels et/ou amateurs.</p>
    </section>
</header>
