<nav class="navbar-expand-lg">
    <div class="logo">
        <a class="navbar-brand" href="#logo">
            <img src="{{ asset('build/img/aerofleet_logo.tiff') }}" alt="aerofleet_logo">
        </a>
    </div>
        <ul>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"> <span class="nav-label">MEDIAS</span></a>
                <ul class="dropdown-menu">
                    <li><a href="#galerie">GALERIE</a></li>
                    <li><a href="#videos">VIDEOS</a></li>
                    <li><a href="#brochure">BROCHURE</a></li>
                    <li><a href="#presses">PRESSES</a></li>
                </ul>
            </li>
            <li><a href="#aPropos">A PROPOS</a></li>
            <li><a href="#magasin">MAGASIN</a></li>
            <li><a href="#activites">ACTIVITES</a></li>
            <li><a href="#contact">CONTACT</a></li>

            <li><a href="https://twitter.com/aerofleetsa"><img src="https://c866088.ssl.cf3.rackcdn.com/assets/twiiter40x40.png" alt="twitter"></a></li>
            <li><a href="https://www.youtube.com/channel/UCXbiqFoahoznzyYOyfNEwFQ"><img src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube40x40.png" alt="youtube"></a></li>
        </ul>
    </div>
</nav>

<img src="http://aerofleet.be/img/carousel/aerofleet_telescope_chili.jpg" alt="">
