<section class="text-center bg-light" id="piscine">
    <h2>Piscine</h2>
    <div class="row">
        <div class="col img-fluid">
            <img src="{{ asset('build/images/piscine/Piscine recadree.8893a43f.jpg') }}" class="img-r border-my-theme" alt="piscine">
        </div>
        <div class="col text">
            <p>Des idées et des formes,...</p>
            <p>Ensemble, nous donnons forme à vos rêves. Votre piscine sera réalisée suivant l'orientation, la disposition et les dimensions du terrain. Du sur-mesure assurant à votre famille une convivialité et un plaisir sans cesse renouvelé.A l'intérieur ou à l'extérieur, nous assurons l'installation complète de votre piscine.</p>
            <p>A l'intérieur ou à l'extérieur, nous assurons l'installation complète de votre piscine.</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div id="carouselPiscine" class="col slide carousel-fade" data-ride="carousel">
            <div class="carousel-inner border-my-theme">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_01.jpeg')}}" alt="piscine extérieure">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_02.jpeg')}}" alt="piscine extérieure">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{asset('build/images/piscine/piscine_03.jpeg')}}" alt="piscine intérieure">
                </div>
            </div>
        </div>
    </div>

    <div class="text-center row">
        <div class="text">
            <br>
            <p>Investir à long terme, ...</p>
            <p>La qualité des matériaux (panneaux stratifiés fibres de verre/ polyester/nid d'abeilles) et les techniques de mise en oeuvre assurent à votre piscine une longue vie pour un coût plus que raisonnable.</p>
            <p>Une souplesse incomparable dans la réalisation, ...</p>
            <p>Notre système exclusif d'assemblage des panneaux augmente la cohésion de l'ensemble et, confère à votre piscine toutes les qualités d'une piscine monobloc. Avec un atout considérable en plus : les panneaux qui la constituent peuvent être assemblés en nos ateliers, ou directement chez vous, selon l'accessibilité de l'emplacement choisi.</p>
            <p>Une saison qui n'en finit pas, ...</p>
            <p>La structure stratifiée des panneaux, inspirée des technologies aéronautiques, assure à votre piscine une excellente isolation thermique. Ainsi, vous pourrez profiter de votre piscine de mai à octobre tout en limitant le coût du chauffage.</p>
            <p>Un petit plus qui change tout,...</p>
            <p>Balnéothérapie, escalier roman, escalier intérieur, éclairage halogène, éclairage par fibre optique, nage à contre-courant, intégration paysagère, ...</p>
            <p>Nous vous proposons une gamme complète d'accessoires et de services. Il ne tient qu'à vous de faire de votre jardin un petit paradis.</p>
        </div>
    </div>
</section>
