<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-164204574-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-164204574-1');
        </script>
        <title>{% block title %}{{"Matériaux composites et thermolaquage - Aerofleet"|trans}}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="description" content="{{"Depuis 30 ans, Aerofleet est votre partenaire dans le nautisme, les piscines, l'aérospatial,... et votre sous-traitant en peinture par poudrage"|trans}}">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <meta name="google-site-verification" content="ivWDzh0gVmaCdROJDfMDDfa9wGrmDWD7Etam6WHI3wc" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            {{encore_entry_script_tags('app')}}
        {% endblock %}
    </body>
</html>
