.bg-navbar {
    /* The image used */
    background-image: url("../../images/apropos/carousel_01_telescope_vlt.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}